<div class="outer_three">
    <div class="inner_three">
        <div class="square"><%=image_tag("https://media.giphy.com/media/21GCae4djDWtP5soiY/giphy.gif")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/SM32alLW9WEYo/giphy.gif")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/zz49TLnbLJdXq/giphy.gif")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/vczOoJICc7rXgqfz28/giphy.gif")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/NVBR6cLvUjV9C/giphy.gif")%></div>
    </div>
    <div class="inner_three">
        <div class="square"><%=image_tag("https://media.giphy.com/media/W0crByKlXhLlC/giphy.gif")%></div>
        <div class="main_title"><%=image_tag("giffy_guesser_logo.png")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/5VKbvrjxpVJCM/giphy.gif")%></div>
    </div>
    <div class="inner_three">
        <div class="square square_link"><%=image_tag("https://media.giphy.com/media/3oriO0OEd9QIDdllqo/giphy.gif")%>
        </div>
        <div class="square"><%=image_tag("http://giphygifs.s3.amazonaws.com/media/pa37AAGzKXoek/giphy.gif")%></div>
        <div class="square"><%=image_tag("http://giphygifs.s3.amazonaws.com/media/48FhEMYGWji8/giphy.gif")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/zPOErRpLtHWbm/giphy.gif")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/USNlL9p2fxY6Q/giphy.gif")%></div>
    </div>
</div>