
<div class="outer_three">
    <div class="inner_three">
        <div class="square"><%=image_tag("https://media.giphy.com/media/21GCae4djDWtP5soiY/giphy.gif")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/SM32alLW9WEYo/giphy.gif")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/zz49TLnbLJdXq/giphy.gif")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/vczOoJICc7rXgqfz28/giphy.gif")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/NVBR6cLvUjV9C/giphy.gif")%></div>
    </div>
    <div class="inner_three">
        <div class="square"><%= link_to "Log In!", "/login", {class: "ui yellow button massive"} %></div>
        <div class="main_title"><%=image_tag("https://files.slack.com/files-pri/T02MD9XTF-FM14KVDNK/output-onlinepngtools__3_.png")%></div>
        <div class="square"><%= link_to "Sign Up!", "/signup", {class: "ui yellow button massive"} %></div>
    </div>
    <div class="inner_three">
        <div class="square square_link"><%=image_tag("https://media.giphy.com/media/3oriO0OEd9QIDdllqo/giphy.gif")%></div>
        <div class="square"><%=image_tag("http://giphygifs.s3.amazonaws.com/media/pa37AAGzKXoek/giphy.gif")%></div>
        <div class="square"><%=image_tag("http://giphygifs.s3.amazonaws.com/media/48FhEMYGWji8/giphy.gif")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/zPOErRpLtHWbm/giphy.gif")%></div>
        <div class="square"><%=image_tag("https://media.giphy.com/media/l0MYHEI0xktKCVjri/giphy.gif")%></div>
    </div>
</div>
