<h1>Question</h1>

<%= image_tag(@game_form.game_questions.first.style.gif) %>
<br>
<%= radio_button_tag("q1", @game_form.game_questions.first.style.a) %>
<%= label_tag("q1", @game_form.game_questions.first.style.a) %>
<%= radio_button_tag("q1", @game_form.game_questions.first.style.w1) %>
<%= label_tag("q1", @game_form.game_questions.first.style.w1) %>
<%= radio_button_tag("q1", @game_form.game_questions.first.style.w2) %>
<%= label_tag("q1", @game_form.game_questions.first.style.w2) %>
<%= radio_button_tag("q1", @game_form.game_questions.first.style.w3)%>
<%= label_tag("q1", @game_form.game_questions.first.style.w3) %>