<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/app/assets/javascripts/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/app/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/app/assets/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/app/assets/javascripts/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/app/assets/javascripts/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/app/assets/javascripts/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/app/assets/javascripts/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/app/assets/javascripts/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/util.scss">
    <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/main.scss">
    <!--===============================================================================================-->
</head>

<body>
        <h1 class="title">Edit Information</h1>

        <% if flash[:message]%>
            <h4 class="bad-notification"><%= flash[:message]%></h4>
        <% end %>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <%= form_for(@user, {class: "login100-form validate-form"}) do |f| %>

                <span class="login100-form-title p-b-26">
                    <%= image_tag("https://files.slack.com/files-pri/T02MD9XTF-FM14KVDNK/output-onlinepngtools__3_.png") %>
                </span>
                <span class="login100-form-title p-b-48">
                    <i class="zmdi zmdi-font"></i>
                </span>
                <div class="wrap-input100">
                    <%= f.text_field(:username, {class: "input100", placeholder: "Username"}) %>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <%= f.password_field(:password, {class: "input100", placeholder: "Password"}) %>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Edit Account!
                        </button>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <span class="txt1">
                        Don't need to edit?
                    </span>
                    <%= link_to("Go Back", user_path(current_user), {class: "txt2"}) %>
                </div>
                <%end%>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>


    <!--===============================================================================================-->
    <script src="/app/assets/javascripts/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/app/assets/javascripts/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/app/assets/javascripts/vendor/bootstrap/js/popper.js"></script>
    <script src="/app/assets/javascripts/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/app/assets/javascripts/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/app/assets/javascripts/vendor/daterangepicker/moment.min.js"></script>
    <script src="/app/assets/javascripts/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/app/assets/javascripts/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/app/assets/javascripts/js/main.js"></script>

</body>