<h1><%= @user.username %></h1>



<%complete_games = @user.games.select{|game| game.complete?}%>

[Restrict this info when user isn't current user]

<%= button_to "Play Now!", new_user_game_path(@user), method: :get%>

<h3>Ongoing Games</h3>

<ul>
    <% @user.games.select{|game| !game.complete?}.each do |game| %>
    <li>
        <%= link_to(game, user_game_path(@user, game)) %>
    </li>
    <% end %>
</ul>
<%= "None" if @user.games.select{|game| !game.complete?}.length == 0 %>

<h3>User Statistics</h3>

<% answers_given = complete_games.flat_map{|game| game.game_answers}%>

<h4>Overall Record</h4>

<%= "#{answers_given.select{|answer| answer.correct?}.length} / #{answers_given.length} Correct Answers" %>

<h4>Record by Game Style</h4>



<% game_types.each do |type| %>

<h5><%= "#{info(type)[:name]}" %></h5>
<%= "#{answers_given.select{|answer| answer.correct? &&  answer.game.game_form.style == type}.length} / #{answers_given.select{|answer| answer.game.game_form.style == type}.length} Correct Answers" %>
<br />


<% end %>


<h4>Favorite Game Styles</h4>

<% @user.games.group_by{|game| game.game_form.style}.to_a.sort_by{|pair| -pair[1].length}.each do |style_pair|%>
<%= "#{info(style_pair[0])[:name]} (#{style_pair[1].length} games)"%>
<% end %>



<h3>Completed Games</h3>
<ul>
    <% complete_games.each do |game| %>
    <li>
        <% style = game.game_form.style %>
        <%= link_to  "#{info(style)[:name]} (on #{game.updated_at.to_date})", user_game_path(@user, game) %>
    </li>
    <% end %>
</ul>