
<h1 class="title"><%= @user.username %></h1>

<%complete_games = @user.games.select{|game| game.complete?}%>

<% if @user == current_user %>

<%= button_to "Play Now!", new_user_game_path(@user), method: :get%>

<h2 class="section-title">Ongoing Games</h2>

<ul>
    <% @user.games.select{|game| !game.complete?}.each do |game| %>
    <li>
        <%= link_to(info(game.game_form.style)[:name], user_game_path(@user, game)) %>
    </li>
    <% end %>
</ul>
<%= "None" if @user.games.select{|game| !game.complete?}.length == 0 %>

<% end %>


<h2 class="section-title">User Statistics</h2>


<h3 class="part-title">Record</h3>


<fieldset class="stats">
    <% answers_given = complete_games.flat_map{|game| game.game_answers}%>
    <legend>Overall</legend>
    <%= "#{answers_given.select{|answer| answer.correct?}.length} / #{answers_given.length} Correct Answers" %>
</fieldset>


<% game_types.each do |type| %>

<fieldset class="stats">
    <legend><%= "#{info(type)[:name]}" %></legend>
    <%= "#{answers_given.select{|answer| answer.correct? &&  answer.game.game_form.style == type}.length} / #{answers_given.select{|answer| answer.game.game_form.style == type}.length} Correct Answers" %>
</fieldset>

<% end %>

<h3 class="part-title">Favorite Game Styles</h3>

<ol>

<% @user.games.group_by{|game| game.game_form.style}.to_a.sort_by{|pair| -pair[1].length}.each do |style_pair|%>
<li><%= "#{info(style_pair[0])[:name]} (#{style_pair[1].length} games)"%></li>
<% end %>

</ol>


<% if complete_games.length > 0 && @user == current_user %>

<h2 class="section-title">Completed Games</h2>
<ul>
    <% complete_games.each do |game| %>
    <li>
        <% style = game.game_form.style %>
        <%= link_to  "#{info(style)[:name]}", user_game_path(@user, game) %>
    </li>
    <% end %>
</ul>

<% end %>