
<h1> Matching Question <%= @question.id %> </h1>

<%= display_prompt("mat", @question).html_safe %>

<% randomize_choices("mat", @question).each do |choice|%>

    <li><%= label_tag display_choice("mat", choice) %>
        <%= "(correct)" if choice == @question.a %>
    </li>

<% end %>


<%= button_to "Delete", question_mat_path(@question), method: :delete%>

[Haven't tested funcionality yet (contrller not set up yet)]

[Not sure what happens when deleting a question that's in use.]