
<h1>Question Control Zone</h1>


<h2>Make New Questions</h2>

<li><%= link_to "Synonym Questions", new_question_syn_path%></li>
<li><%= link_to "Dog Breed Questions", new_question_dog_path%></li>
<li><%= link_to "Movie Questions", new_question_mov_path%></li>
<li><%= link_to "Matching Questions", new_question_mat_path%></li>


<h2>Analytics</h2>

<h3>Game Popularity</h3>

<% @popularity_pairs.each do |pair|%>

    <li><%= "#{info(pair[0])[:name]} has been played #{pair[1]} times." %></li>

<% end %>

<h3>Game Difficulty</h3>

<table >
        <tr>
          <th>Game Type</th>
          <th>Questions Correct</th> 
          <th>Questions Answered</th>
        </tr>

    <% @difficulty_hash.each do |style, info_hash|%>

        <tr>
          <td><%= "#{info(style)[:name]}" %></td>
          <td><%= info_hash[:correct] %></td> 
          <td><%= info_hash[:total] %></td>
        </tr>

    <% end %>

</table>





