<h1>Start a New Game!</h1>


<h2>Choose a Game</h2>

<% game_types.each do |game_type| %>

<div>
    <h3><%=info(game_type)[:name]%></h3>
    <p><%=info(game_type)[:description]%></p>
    <%= button_to "Play Now!", user_games_path(@user), params: {style: game_type} %>
</div>

<% end %>



<h2>Challenge Another User<h3>

    <% @recent.each do |game| %>
        <li><%= link_to "#{game.user.username}", user_path(game.user) %> <%="played #{info(game.game_form.style)[:name]}"%> <%= button_to "Challenge!", create_user_game_with_form_path(@user, game.game_form.id) %></li>

    <% end %>