<h1 class="title"><%= info(@game.game_form.style)[:name] %></h1>





<% if @game.complete? %>

<h4 class="neutral-notification"><%= "You got #{@game.game_answers.select{|answer| answer.correct?}.length} out of #{@game.game_answers.length}!"%></h4>

<%= button_to "Find New Game", new_user_game_path(@user), { method: 'get', class:"important_button"}%>


<h2 class="section-title">Your Results</h2>



<% @game.game_answers.each_with_index do |answer, index| %>


<fieldset class="question">

    <legend>Question <%= index + 1%></legend>

    <% if answer.correct? %>
        <h4 class="good-notification">Correct!</h4>
    <% else%>
        <h4 class="bad-notification">Wrong!</h4>
    <% end %>

    <div class="prompt"><%= display_prompt(@game.game_form.style, answer.question).html_safe %></div>



    <% randomize_choices(@game.game_form.style, answer.question).each do |choice|%>

        <% res = "results" %>
        <% res = "results-yours" if choice == answer.choice%>
        <% res = "results-right" if choice == answer.question.a%>
        
        
        <label class="choice">
        <span class=<%= res %>><%= display_choice(@game.game_form.style, choice)%></span>
        </label>

        

    <% end %>
        
</fieldset>

<% end %>

<h2 class="section-title">Record Board</h2>

<ul>

<% stored_index = 1 %>
<% previous_score = 0 %>

<% @game.game_form.sorted_comparative_results.each_with_index do |result_pair, index|%>

<% user = @users.find{|user| user.id == result_pair[0]} %>
<% score = result_pair[1]%>

<% if previous_score != score %>
<% stored_index = index + 1 %>
<% end %>

<li><%= "#{stored_index}. #{user.username}  (score of #{score} out of #{@game.game_form.game_questions.length})" %></li>

<% end %>

</ul>





<% else %>

<h2 class="section-title">Instructions</h2>

<span style="font-size:20px"><%= info(@game.game_form.style)[:instructions] %></span>

<h2 class="section-title">Questions</h2>


<%= form_tag "/users/#{@game.user.id}/games/#{@game.id}" do %>

<% @game.game_form.questions.each_with_index do |question, index|%>




<fieldset class="question">

    <legend>Question <%= index + 1 %></legend>

    <div class="prompt"><%= display_prompt(@game.game_form.style, question).html_safe %></div>

    <% randomize_choices(@game.game_form.style, question).each do |choice|%>

    <label class="choice">
        <%= radio_button_tag("#{index + 1}", choice, nil, {class: 'hidden_radio'}) %>
        <span><%= display_choice(@game.game_form.style, choice).html_safe %></span>
    </label>

    <% end %>

</fieldset>

<% end %>

<div style="display:flex;justify-content:center"><%= submit_tag "Submit Answers!" , {class:"important_button"} %></div>


<% end %>

<% end %>