<!DOCTYPE html>
<html>

<head>
  <title>Giffy Guesser!</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Open+Sans&display=swap" rel="stylesheet">


</head>

<body>
  <div class="ui secondary pointing menu">

    <%= link_to("GG", "/", {class: "big-button"}) %>

    
    <% if logged_in? %>
    <%= link_to("Profile", user_path(current_user), {class: "small-button"}) %>
    <%= link_to("Choose a Game", new_user_game_path(current_user), {class: "small-button"}) %>
    <%= link_to("Find Other Users", users_path, {class: "small-button"}) %>
    <% end %>
    <div class="right menu">
      <% if logged_in? %>
      <%= link_to("Logout", "/sessions", {method: "delete", class: "small-button"}) %>
      <% else %>
      <%= link_to("Sign Up!", new_user_path, {class: "small-button"}) %>
      <%= link_to("Log In!", "/login", {class: "small-button"}) %>
      <% end %>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  


  <div class="main-content">
  <%= yield %>
  </div>
</body>

</html>